body {
    background: #07BEB8;
    color: #25283D;
    margin: 10px;
}

button {
    background:#8F3985;
    color: #98DFEA;
    font-size: 25px;
    border-radius: 5px;
}

button:hover {
    background: #EFD9CE;
    color: #25283D;
    cursor: pointer;
}

header {
    margin: 50px 120px 30px 80px;
    font-size: 25px;
}

#scores {
    margin-left: 20px;
    text-decoration: none;
    color: #8F3985;
}

#time {
    float: right;
    margin-right: 100px;
}

main {
    position: relative;
}

#begin, .question, #results, #high-scores {
    position: absolute;
    left: 20px;
    right: 20px;
    margin: 50px auto;
}

#begin {
    /* display: flexbox; */
    justify-content: center;
    text-align: center;
    width: auto;
    /* padding: 50px; */
    /* height: 300px; */
}

h1 {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

#begin p {
    width: 65%;
    margin: 30px auto;
    font-size: 25px;
    line-height: 1.5;
}

#start {
    margin-top: 5px;
    padding: 10px;
    /* border-radius: 5px; */
}

[data-state="hidden"] {
    display: none;
}

.question {
    /* display: flexbox; */
    justify-content: center;
    text-align: center;
    width: auto;
    /* margin: 50px auto; */
}

h2 {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bold;
}

.one, .two, .three, .four, .five {
    display: block;
    text-align: left;
    width: 20%;
    margin: 10px auto;
    padding: 10px 5px;
    /* border-radius: 5px; */
}

hr {
    margin-top: 50px;
    width: 70%;
}

#results {
    justify-content: center;
    text-align: center;
    width: auto;
}

form {
    display: inline-flex;
}

h3 {
    font-size: 25px;
    margin: 20px 5px 20px 0;
}

#initials {
    font-size: 25px;
    margin: auto 10px;
    padding: 5px 10px;
    border: 2px solid #25283D;
}

#submit {
    font-size: 20px;
    margin: auto 10px;
    padding: 5px;
    border-radius: 5px;
    background: #8F3985;
    color: #98DFEA;
}

#submit:hover {
    background: #EFD9CE;
    color: #25283D;
    cursor: pointer;
}

#high-scores {
    justify-content: center;
    text-align: center;
    width: auto;
}

#all-scores {
    margin: 20px auto;
}

#back, #clear {
    padding: 10px;
}